{% load static %}
<!-- ------------------------------footer sub end---------------------------------- -->
<!-- Google Font -->
<link href="https://fonts.googleapis.com/css?family=Abel|Lato|Open+Sans&display=swap" rel="stylesheet">
<style>
  
    /* footer */
#footer-main{
	background: #000;
	color: white;
	font-size: 0.8rem;
	padding: 2.5rem 0;
    font-family: 'Lato', sans-serif;
}

#footer-main a{
	font-size: 14px;
	display: block;
	margin: 0.3rem;
	color: grey;
}

#footer-main a:hover{
	font-weight: bold;
	color: white;
}

#footer-main h6 a{
    color: white;

    
}



#footer-main hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid white;
}

#footer-main img{
	margin-right: 0.6rem;
}
</style>

<footer id="footer-main">
    <div class="container">
      <div class="row">
        <div class="col-sm-3">
            <h6 class="mt-3"><a href="">ParaPharma.ma</a></h6>
            <a href="">Panier</a>
            <a href="">Livraison</a>
            <a href="">Options de paiement</a>
            <a href="">Nos Contacts</a>
        </div>
        <div class="col-sm-3">
            <h6 class="mt-3"><a href=""> Nous contacter</a></h6>
            <a href="">Adresse: Rabat, Hassan</a>
            <a href="">Tel: +212 619321412</a>
            <a href="">Email: Parapharma.ma@gmail.com</a>

        </div>
        <div class="col-sm-3">
            <h6 class="mt-3"><a href="">Liens</a></h6>
            <a href="">Conditions Générales de Vente</a>
          <a href="">Mentions légales</a>
          <a href="">A propos de nous</a>

        </div>
      </div>

    </div>
  </footer>
<!-- ------------------------------footer end---------------------------------- -->

